{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<main class="login_signin">
    <div class="element_container">
        <div class="title">
            <h2>Connexion</h2>
            <p>L'aventure MyCave a portée de vins</p>
        </div>

        {# Formulaire de connexion auto #}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div>
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div>
                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </div>
        </form>

        <div class="login_link">
			<p>Vous n'avez pas encore de compte ?</p>
			<a href="{{ path('app_signin') }}">Inscrivez-vous</a>
		</div>
    </div>
    {# bg video verre de vin #}
    <div class="bg_video">
        <video src="{{ asset('video/wine_bg.mp4') }}" autoplay muted></video>
    </div>
</main>
{% endblock %}
