{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<main class="login_signin">
    <div class="element_container">
        <div class="title">
            <h2>Nouveau mot de passe</h2>
        </div>

        {# Formulaire de demande de récup mdp #}
        {{form_start(resetForm)}}
            {{form_row(resetForm.password)}}
            {{form_row(resetForm.submit)}}
        {{form_end(resetForm)}}
    </div>
    
    {# bg video verre de vin #}
	<div class="bg_video">
		<video src="{{ asset('video/wine_bg.mp4') }}" autoplay muted></video>
	</div>
</main>
{% endblock %}