{% extends 'base.html.twig' %}

{% block title %}Demande de mot de passe{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<main class="login_signin">
    <div class="element_container">
        <div class="title">
            <h2>Demande de mot de passe</h2>
        </div>

        {# Formulaire de demande de récup mdp #}
        {{form_start(resetRequestForm)}}
            {{form_row(resetRequestForm.email)}}
            {{form_row(resetRequestForm.submit)}}
        {{form_end(resetRequestForm)}}

        <div class="login_link">
            <a href="{{ path('app_login') }}">Revenir à l'écran de connexion</a>
        </div>
    </div>
    
    {# bg video verre de vin #}
	<div class="bg_video">
		<video src="{{ asset('video/wine_bg.mp4') }}" autoplay muted></video>
	</div>
</main>
{% endblock %}
