<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{% block title %}My cave{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {# Link ajout CSS pour le Choices.js à voir si on le garde sinon passer à un css custom. #}
        <link href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


    </head>
    {% block header %}
        <header>
            <nav>
                <ul>
                    {# Affichage pour le panel administrateur #}
                    {% if is_granted('ROLE_ADMIN') %}
                    {# target blank pour ouvrir dans new tab et noopener noreferrer pour éviter les attaques pishing (vieux post stack over flow de 2017 - utile ?) #} 
                        <li><a href="{{ path('app_admin') }}" target="_blank" rel="noopener noreferrer">Gestionnaire</a></li>
                    {% endif %}
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_allCaves') }}">Les caves</a></li>
                </ul>
            </nav>
            <div class="connect_links">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_userCave') }}">Ma cave</a>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                    <a href="{{ path('app_signin') }}">Inscription</a>
                {% endif %}
            </div>
        </header>
    {% endblock %}
    <body>
        {% block body %}{% endblock %}
                {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
